@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Source+Code+Pro:wght@200&family=Varela+Round&display=swap');
*{
    margin: 0;
    padding: 0;
}
.sidebar{
    /* background-color:pink; */
    position:absolute;
    font-family: 'Varela Round', sans-serif;
    height: 100vh;
    background-color:rgb(149, 146, 146);
    transition:tranform 0.3s ease-in;

}
.sidebar nav{
    padding: 45px;
}
.sidebar nav li{
    list-style:none;
    font-size:20px;
    padding: 23px 0;
}.sidebar nav li a{
    text-decoration:none;
    color:black;
}
.main{
    /* background-color:aquamarine; */
    width:90vw;
}
.infocontainer{
    /* background-color:blueviolet; */
    height:50vh;
    width:80vw;
    margin:144px auto;
    display:flex;
    justify-content: space-around;

}
.devinfo{
    font-size:16px;
    display:flex;
    justify-content:center;
    flex-direction:column;
    font-family: 'Source Code Pro', monospace;
}
.devpic img{
    height:50vh;
}
.hello{
    font-size:3em;

}
.moreinfo{
    font-size:2em;
    font-family: 'Varela Round', sans-serif;
    margin-top:23px;
}
.name{
    font-size:3em;
    font-weight:bold;
    font-family: 'Varela Round', sans-serif;
   

}
.about{
    font-size:2.5em;

}
.btn{
    margin-top:2.2em;
    font-size:16px;
}
.btn{
    padding:8px 14px;
    border-radius:22px;
    color:white;
    background-color:dodgerblue;
    font-weight:bold;
    font-size:26px;
    margin :3px 3px;
    cursor:pointer;


}
.btn:hover{
    background-color:white;
    color:dodgerblue;
}

.container{
    display:flex;
}
.contactform{
    padding:0 34px;
    margin:50px 200px;
    
    font-family: 'Varela Round', sans-serif;
   
  
 
 }
.contactform h1{
    /* padding:12px 0; */

    font-family: 'Source Code Pro', monospace;
   
   
}
.contactform form div{
    padding :10px 0;
    
    display:flex;
    flex-direction:column;


}
.contactform form div input{
    
    width:16vw;
    border-radius:5px;
    margin:6px 0 0 0;
    padding:3px;
    


}
.contactform form{
    margin:0 40px;
}
#form-check{
    flex-direction:row;

    
}
#form-check input{
    width:24px;
    margin: 3px 0;}
.btn-sm{
    font-size:10px;
    padding:7px 13px;
    margin:10px 0;
}
#emailHelp{
    font-size:11px;
    color:midnightblue;
    margin:0 5px;
    padding : 3px 0 0 0;
}
.blogitem{
    margin:20px;
    font-family: 'Varela Round', sans-serif;
    
}
.blogcontainer h1{
    font-family: 'Varela Round', sans-serif;
    margin:23px;

}
.intro h2{
    font-family: 'Varela Round', sans-serif;
    margin: 12px;

}
.blogitem p{
    font-family: 'Source Code Pro', monospace;

}
.blogcontainer{
    margin:40px 200px;
}
.intro p{
    font-family: 'Source Code Pro', monospace;
    margin: 12px;

}
.intro{
    margin:40px 100px;
}
.skillcontainer{
    padding:7px;
    
}
.skill{
    width:265px;
    height:6px;
    background-color:red;
    border:2px solid black;
}
.skillitem{
    display:flex;
    align-items:center;
    font-family: 'Source Code Pro', monospace;
    font-weight:900;
 
}
.hundered{
    width:265px;
    background-color:yellow;
}
.sidebarGo{
    transform: translate(-443px,0px);
    position:absolute;
}
.fifty{
    width:125px;
    background-color:aqua;
}
.t5{
    width:75px;
    background-color:blueviolet;
}
@media (max-width: 1500px){
    *{
       background-color:none;

    }
    .devInfo{
        font-size:10px;
    }
    .btn{
        font-size:13px;
    }
    .devPic{
        display:none;
    }
    .intro,.blogcontainer, .contactform{
        margin:50px 8px;
    }
    
}
.cross{
    margin-left:150px;
    margin-top:10px;

}
.ham{
    margin-top:10px;
    margin-left:10px;
}

.hamburger{
    position:absolute;
    cursor:pointer;
    top:10px;
    left:10px;
}
